* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/galaxy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5em;
}

#heading {
  color: #fff;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 5em 0;
}

input,
select,
button {
  height: 5vh;
  padding: 1em;
}

#result {
  display: flex;
  color: #fff;
  background-color: #333;
  mix-blend-mode: exclusion;
  align-items: center;
  justify-content: space-around;
  margin: 3em 0;
  padding: 2em 0;
}

.type {
  border-radius: 50%;
  background-color: #777;
  padding: 2em;
}

img {
  width: 25%;
  height: auto;
}
